/* Basic jQuery Slider essential styles */

#banner-fade { margin:0 auto; }
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute; top:42% !important;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:20px;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:20px;}
ol.bjqs-markers{list-style: none; padding: 0 15px; margin: 0; position:absolute; right: 10px; bottom: 10px; left: inherit !important; }
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block; background:url(../images/inactive_bullate.png) no-repeat; width:15px; height:15px; }
ol.bjqs-markers li.active-marker a{ background:url(../images/active_bullate.png) no-repeat; }
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}
.h_array { font-size: 50px; color:#fff; }